$transition:        all .3s ease-in-out;

hr {
    margin-top: 40px;
    margin-bottom: 22px;
    opacity: 0.06;
    background-color: #000000;
}

.text-line {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #4C5458;
    opacity: 0.7;
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    &::before,
    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background: #4C5458;
        display: block;
    }

    &::before {
        margin-right: 14px;
    }

    &::after {
        margin-left: 14px;
    }
}

.text-border-color {
    text-decoration: none;
    border-bottom: 1px dashed #FF2517;
}

.pr__card_cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sign-info {
    width: min-content;
    height: fit-content;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;

    &::after {
        content: "";
        background-image: url('../icons/link-info.svg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto;
        width: 13px;
        height: 14px;
        display: inline-block;
        margin-left: 5px;
    }
}

.block__garanty {
    background: rgba(242, 242, 247, 0.2);
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 16px;

    .form__check {
        margin-top: 0;
        width: 100%;
    }

}

.btn-garanty {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
        display: flex;
    }

    &-price {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #74747D;
        margin-bottom: 0;
    }
}

.h4, h4 {
    font-size: 22px;
}
.disabled {
    opacity: .7;
    cursor: default;
    pointer-events: none;
    
    .check [type="checkbox"]:not(:checked) + label:before, 
    .check [type="radio"]:not(:checked) + label:before, 
    .check [type="checkbox"]:checked + label:before, 
    .check [type="radio"]:checked + label:before {
        background: #F8F8F9;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}
.price-old {
    font-weight: 500;
    text-decoration-line: line-through;
    color: #74747D;
}

.price-sale {
    font-weight: bold;
    color: #EF0D0D;
}

.price__block {
    margin-right: 25px;

    &_price-old {
        font-size: 22px;
        line-height: 25px;
    }

    &_price {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
    }
}

.list__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #545468;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    img {
        margin-right: 12px;
    }
}

.sc-bg {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 5px;
}

.btn {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-primary {
        background: -webkit-gradient(linear, left top, right top, from(#FF2517), to(#FF5F1B));
        background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        padding: 9.5px 0px;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: all .3s ease-in-out;

        &:hover {
            color: #ffffff;
            background: -webkit-gradient(linear, left top, right top, from(#FF5F1B), to(#FF2517));
            background: linear-gradient(90deg, #FF5F1B 0%, #FF2517 100%);
            transition: all .3s ease-in-out;
        }
    }

    &-secondary {
        background: rgba(189, 189, 215, 0.2);
        border: 1px solid transparent;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        width: 49%;
        padding: 10px 5px;
        text-align: center;

        &:hover {
            color: #000000;
            background: rgba(189, 189, 215, 0.4);
            border: 1px solid transparent;
            transition: all .3s ease-in-out;
        }
    }

    &-more {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        cursor: pointer;
        height: 48px;

        &-cat {
            height: 60px;
            background: #ffffff;
        }

        &::before {
            content: "";
            display: inline-block;
            background-image: url('../icons/reload.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 18px;
            height: 100%;
            margin-right: 10px;
        }
    }

    &-buy {
        background: -webkit-gradient(linear, left top, right top, from(#FF2517), to(#FF5F1B));
        background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        padding: 9.5px 0px;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        padding: 0 24px;
        max-width: 143px;
        width: 100%;

        &::before {
            content: "";
            background-image: url('../img/cart.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        &:hover {
            color: #ffffff;
            background: -webkit-gradient(linear, left top, right top, from(#FF5F1B), to(#FF2517));
            background: linear-gradient(90deg, #FF5F1B 0%, #FF2517 100%);
            transition: all .3s ease-in-out;
        }
    }

    &-empty {
        font-weight: 500;
        font-size: 14px;
        line-height: 44px;
        padding: 0;
        //background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        color: #ff2517;
        border: 1px solid #DBDFE4;
        position: relative;
        transition: all .3s ease-in-out;
        border-radius: 5px;

        &:hover {
            transition: all .3s ease-in-out;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: linear-gradient(90deg, rgba(255, 37, 23, 0.08) 0%, rgba(255, 95, 27, 0.08) 100%);
                transition: all .3s ease-in-out;
            }
        }
    }

    &-sign {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #DBDFE4;
        border-radius: 65px;
    }

    &-social {
        background: rgba(189, 189, 215, 0.2);
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        height: 50px;
        max-width: 197px;
        width: 100%;

        img {
            margin-right: 10px;
        }
    }

    &-submit {
        width: 100%;
        height: 50px;
    }

    &-edit {
        display: block;
        border: none;
        background: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-right: auto;
        margin-left: auto;
        padding: 3px 0;
        border-bottom: 1px dashed #FF2517;

        &_grey {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #777777;
            padding: 3px 0;
            border-bottom: 1px dashed #777777;
        }
    }

    &-close_cart {
        cursor: pointer;
        width: 10px;
        height: 10px;
        background-image: url('../img/btn-close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        padding: 10px;
        margin-left: -5px;
    }

    &-oneclick {
        background: #DBDBE4;
        mix-blend-mode: normal;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        white-space: nowrap;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-answer {
        width: fit-content;
        margin-left: 0;
        font-size: 14px;
        cursor: pointer;

        &::before {
            content: "";
            width: 12px;
            height: 13px;
            display: inline-block;
            background-image: url('../icons/answr.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            margin-right: 7px;
        }
        
    }

    &-add-rewiev {
        display: flex;
        align-items: center;
        color: #FF2517;
        border-bottom: 1px dashed #FF2517; 
        width: fit-content;   

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            background-image: url('../icons/speech1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            margin-right: 7px;
        }
    }


    &-filter {
        background: #494956;
        height: 40px;
        width: 148px;
        color: #ffffff;

        &:active,
        &:focus,
        &:hover {
            background: #3E3E4B;
            color: #ffffff;
        }
        
    }
}

.tab-close {
    background-image: url(../icons/close1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30px;
    height: 30px;
    border: 1px solid #DBDFE4;
    border-radius: 65px;
}

.btn-next {
    width: 50px;
    height: 50px;
    background: rgba(189, 189, 215, .2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../icons/arrow__right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.btn-info-delivery {
    background: rgba(189, 189, 215, .2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-image: url('../icons/mail.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 257px;
    width: 100%;
    margin-right: 16px;
    padding-left: 40px;
    padding-right: 15px;
    cursor: pointer;
}

.btn-all {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FF2517;
    border-bottom: 1px dashed #FF2517;
}

.breadcrumbs {
    margin: 29px 0;

    &__container {
        display: flex;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;

        li {
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #646D73;
            margin-right: 15px;

            &::after {
                content: '';
                display: inline-block;
                width: 9px;
                height: 6px;
                background-image: url('../icons/breadcrumbs.svg');
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: contain;
                background-size: auto;
                margin-left: 15px;
            }

            &.active {
                opacity: 0.6;
            }

            &:last-child {
                &::after {
                    content: none;
                }
            }
        }

        a {
            color: #000000;
            text-decoration: none;
        }
    }
}

.fav-2 {
    width: 48px;
    height: 48px;
}

// bootstrap style

.btn-close:focus {
    outline: 0;
    box-shadow: none;
}
.hystmodal {
    z-index: 10001;
}
.hystmodal__shadow {
    z-index: 10000;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545468;
    opacity: 0.7;
    height: 100%;
    position: relative;
    white-space: nowrap;
    min-width: 112px;
    border-radius: 0;
    background: none !important;
    box-shadow: none;

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
        transition: .3s left linear,.3s width linear;
    }
}

.nav-link:focus, 
.nav-link:hover {
    color: #FF2517;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #000000;
    opacity: 1;
    background-color: #ffffff;

    &::before {
        left: 0;
        width: 100%;
    }
}
.tab-panel .nav-pills.nav-rewiev {
    //border: 1px solid rgba(189, 189, 215, .2);
    //border-radius: 5px;
}

.nav-pills.nav-rewiev {
    height: 54px;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;

    .nav-link::before {
        content: "";
        position: absolute;
        top: 95%;
        left: 50%;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
        transition: .3s left linear,.3s width linear;
        z-index: 400;
    }

}

.nav-pills.nav-rewiev .nav-link.active, 
.nav-pills.nav-rewiev .show > .nav-link {
    color: #000000;
    opacity: 1;
    background: rgba(189, 189, 215, .2);
    border-radius: 0px;
    position: relative;

    &::before {
        left: 0;
        width: 100%;
    }

}

.key-words__block {
    margin-bottom: 16px;

    ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: rgba(84, 84, 104, .8);
            padding: 8px 18px;
            background: #ECECF2;
            mix-blend-mode: normal;
            border-radius: 55px;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: background .3s ease-in-out;
            white-space: nowrap;

            &:hover {
                background: #494956;
                color: #FFFFFF;
                opacity: 1;
                transition: background .3s ease-in-out;
            }

            &:last-child {
                margin-right: 0;
                
            }

            &.active {
                background: #494956;
                color: #FFFFFF;
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.card-hov {
    transition: all .3s ease-in-out;

    &:hover {
        position: relative;
        z-index: 10;
        box-shadow: 0px 6px 10px rgba(24, 46, 72, 0.1);
        transition: all .3s ease-in-out;
    }
}

.pagination {
    margin-top: 60px;
    text-align: center;
    justify-content: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        overflow: hidden;

        .page-item {
            width: 60px;
            height: 60px;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                font-weight: 500;
                font-size: 15px;
                line-height: 100%;
                color: #000000;
                transition: background .3s ease-in-out;
    
                &:hover {
                    color: #FFFFFF;
                    background: #494956;
                    transition: background .3s ease-in-out;
                    a {
                        color: #FFFFFF;
                    }
                }
    
                &:last-child {
                    border-right: 1px solid rgba(0, 0, 0, 0.05);
                }
    
                
            }

            &.active {
                color: #FFFFFF;
                background: #494956;
                transition: background .3s ease-in-out;
            }
        }
    }

    &__block {
        display: flex;

    }
}

.mrb-2 {
    margin-bottom: 2rem;
}

.checkout__cart-cart .cart__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.shop__items {
    height: 56px;
}
.shop__item.compare .cart__line {
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#FF2517), to(#FF5F1B));
    background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.shop__item.compare {
    height: inherit;
    align-items: center;
    position: relative;
}

.shop__item.compare:hover {
    background: #3E3E4B;
}
  
.shop__item.compare:hover .cart__line {
    display: block;
}

.shop__item.compare:hover .compare__hidden {
    opacity: 1;
    visibility: visible;
}

.compare__hidden {
    position: absolute;
    width: 268px;
    background: #ffff;
    right: 0;
    top: 56px;
    border-radius: 0px 0px 5px 5px;
    opacity: 0;
    visibility: hidden;
}

.top-menu {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(24, 46, 72, 0.14);
    border-radius: 5px;

    li {
        list-style: none;
        padding: 15px 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #545468;
        border-top: 1px solid rgba(76, 84, 88, .1);
        position: relative;
        transition: $transition;

        a {
            cursor: pointer;
            position: relative;
            z-index: 10;
        }

        &:first-child {
            border-top: none;
        }



        &:hover {
            color: #000;
            transition: $transition;

            a {
                color: #000;
            }
        
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 3px;
                top: 0;
                left: 0;
                background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);

            }

            &::before {
                content: "";
                background: linear-gradient(90deg, #FF2517 0%, #FF5F1B 100%);
                opacity: 0.1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            
        }
    }
}
.nav-pills .nav-link {
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
}
.slider__header.category__title {
    margin-top: 48px;
    margin-bottom: 40px;
}